body {
  margin: 0%;
  padding: 0;
  overflow-x: hidden;
}
#first{
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-top: 1.5%;
  margin-left: 7%;
  border-radius: 20px 10% !important
}
#middle {
  background-color: #FFE3E1;
  padding-top: 25%;
  padding-bottom: 5%;
}

#main {
  background-color: #9fe1ef;
  padding-top: 40%;
  padding-bottom: 35%;
  /* #8CC0DE,#9fe1ef,#CDF0EA #E2B4BD #F397D6,#9fe1ef*/
  background-image: linear-gradient(to right, #FFF9B0, #FF9494);
  padding-top: 8%;
}
#violet{
  color:blue;
}
#mainy {
  background-color: #9fe1ef;
  padding-top: 40%;
  padding-bottom: 10%;
  /* #8CC0DE,#9fe1ef,#CDF0EA #E2B4BD #F397D6,#9fe1ef*/
  background-image: linear-gradient(to right, #FFF9B0, #FF9494);
  padding-top: 8%;
}
.svg{
  float: left;
  margin-right: 10px;
}
#miny {
  border-radius: 1.56rem !important;
}
#second {
  padding-top: 10%;
  padding-bottom:10%;
  background-color: #180A0A;
  color: white;
}

#logoimage {
  float: left;
  margin: 1%;
  margin-right: 2%;
  transition: .5s ease;
  -webkit-filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#logoimage:hover {
  -webkit-filter: brightness(100%);
  box-shadow: 0 0 0 10px #5DFDCB;
  transition: .5s ease;
  border-radius: 15%;
}
